@import "tailwindcss";

body, html {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  width: 100%;
}

#app {
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-weight: normal;
  padding: 0;
  box-sizing: border-box;
}